@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<h2>Tin tức</h2>
<div id="wrapper">

    <div id="content">
        @{
            foreach (var i in Model)
            {
                <div class="post">
                    <div class="thumb"><a href="@i.linkPage"><img src="@i.linkIma" alt="" /></a></div>
                    <h2><a href=@i.linkPage>@i.linkTitle</a></h2>
                    <p class="date">@i.dateUpdate</p>
                    <p>@i.summary</p>
                    <a class="continue" href="@i.linkPage">Đọc tiếp</a>
                </div>
            }
        }
        <!-- end post -->
        <!-- begin post navigation -->
        <div class="postnav">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <div class="break"></div>
        </div>
        <!-- end post navigation -->
    </div>
    <!-- END content -->

</div>
<!-- END wrapper -->